#title1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    height: 20vw;

}

body{
    margin: 0;
}

/*section 1*/

#section1{

    /*width: auto;*/
    background-color: rgb(123, 30, 30);
    padding: 5%;
    opacity: 0;

}


.window1{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.photoSec1{
    width: 50%;
}

.text1m{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.typewriter{

    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 400px;

}


/*section 2*/

#section2{
    background-image: url(assets/img/paper.png);
    padding: 50px;
    overflow: hidden;
}

/* The overall box container */
.box-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;           /* allows to go to the next lign when the screen becomes too small, like a media queiry */
    gap: 30px;                 /* spacing between the boxes */
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    
}


.box {

    width: 150px;    /*box size*/
    height: 100px;   /*box size*/
    background-color: rgb(105, 44, 44);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    transition: 0.1;
    font-size: 15px;
}

.texte2{

    align-items: center;
    justify-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;

}

.drop{

    align-items: center;
    justify-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#boxanswer{
    width: 190px;    /*box size*/
    height: 150px;   /*box size*/
    background-color: rgb(105, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
}

.goodAnswer{
    background-color: rgb(29, 158, 74) !important;
    border: 2px !important;
}

.badAnswer{
    background-color: rgb(163, 42, 42) !important;
    border: 2px !important;
}



/*section 3*/

#section3{
    background-color: rgb(123, 30, 30);
    padding: 50px;
    overflow: hidden;
}

.toppics {

    display: flex;
    justify-content: center;
    gap: 140px;                 /* spacing between the boxes */
    flex-wrap: wrap;           /* allows to go to the next lign when the screen becomes too small, like a media queiry */
    max-width: 1000px;
    margin: 0 auto;

}

.imgSec3{
    width: 20%;
    max-width: 200px;
}

.text3{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-items: center;
    margin: 5%;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}


/*section 4*/


#section4{
    overflow-x: hidden;
    padding: 30px;
    background-image: url(assets/img/paper.png);

}

#everything{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secttitle{

    color: rgb(23, 16, 16);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;

}

.cardcontainer{

    display: flex;
    justify-content: center;
    gap: 30px;                 /* spacing between the boxes */
    flex-wrap: wrap;           /* allows to go to the next lign when the screen becomes too small, like a media queiry */
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(105, 44, 44);
    border-radius: 2%;
}


.card {
    width: 190px;    /*box size*/
    height: 290px;   /*box size*/
    background-color: rgb(255, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.text4{
    color: rgb(255, 255, 255);
}

.secttitle{
    text-align: center;
    font-size: 50px;
}

.boxSec4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentSec4{
    width: 20%;
}
.cardSec4{
    width: 40%;
}

.imageCardSec4{
    width: 100%;
}

.award{
    font-size: 25xp;
}

/*Section 5 ----------------------------*/

#section5{
    background-color: rgb(123, 30, 30);
    padding: 70px;   
    overflow: hidden;
 
}

.sect5title{
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    margin-bottom: 8%;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.timeline{
 
    display: flex;
    justify-content: center;
    gap: 160px;                 /* spacing between the boxes */
    flex-wrap: wrap;           /* allows to go to the next lign when the screen becomes too small, like a media queiry */
    max-width: 800px;
    margin: 0 auto;

}

/*The division of the timeline ----------------------------------*/

.first{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 124, 124);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;

}

/*We are wroking in the first division to put a gap between the year and the date*/


.yearone{                          
    margin-right: 80px;
    color: white;
    font-size: 20px;
}

.descr1{                           /*We are aligning the text to a certain direction to make it aestetic*/
    text-align: left;
    color: white;
    font-size: 20px;

}

.descr2{                      /*We are aligning the text to a certain direction to make it aestetic*/
    text-align: right;
    color: white;
    font-size: 20px;


}



/*This is the division that closes our website with a little summary ----------------------------------*/

.endingdiv{                      /*the whole ending note division*/
    margin: 10%;
}

.endingnote{                       /*the title of the ending note*/
    color: beige;
    justify-content: center;
    display: flex;
    font-size: 50px;
    margin-bottom: 6%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;


}

.summary{                      /*the ending note*/
   
    color: beige;
    margin-top: 10;
    text-align: center;
    font-size: 25px;

}


/* Media Queries */
@media (max-width:800px) {


/*section 1------------------------------------------------*/

.window1{
   flex-direction: column;
}


.photoSec1{
    width: 100%;
}

.text1m{
    width: 100%;
    text-align: center;    
}

.typewriter{
    width: 100%;
}

.texte2{
    font-size: 15px;
}

/*Section 2-----------------------------------------------------*/

.boxanswer{
    width: 100px;
}

/*section 3--------------------------------------------*/

.imgSec3{
    width: 100%;
}

/*section 4--------------------------------------------*/

.boxSec4{
    width: 215px;
}

.card{
    width: 100px;
}

.award{
    font-size: 10px;
}

.imageCardSec4{
    width: 100px;
}

/*section 5--------------------------------------------*/

.sect5title{
    text-align: center;
}
       
.endingnote{
    font-size: 30px;
    text-align: center;
}

.summary{
    font-size: 15px;
    text-align: center;
}
    
}