#title1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    margin: 0;
}

/*section 1*/

#section1{

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: auto;
    background-color: rgb(123, 30, 30);

}



.window1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    
}



.text1{
    color: rgb(214, 214, 214);
    align-items: center;
}

/*section 2*/


#section2{
 /*   display: flex;
    justify-content: center;
    align-items: center;
*/
    min-height: 100vh;
    width: auto;
    background-color: rgba(189, 167, 167, 0.7);
    flex-direction: column;
}



.window2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/*This is the first on four labels. The posssible answer choice----------------*/
.rect1{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

}

.rectangle1{

    min-height: 5vh;
    width: 30%;
    background-color: rgba(59, 143, 156, 0.7);
    padding: 20px;
    font-size: 13px; 
    border-radius: 3%;
    padding: 2%;
    width: 200px;
    height: 60px;
}

/*This is the second on four labels. The posssible answer choice----------------*/
.rect2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

}

.rectangle2{
    min-height: 5vh;
    width: 30%;
    background-color: rgba(59, 143, 156, 0.7);
    padding: 20px;
    font-size: 13px; 
    border-radius: 3%;
    padding: 2%;
    width: 200px;
    height: 60px;
}

/*This is the third on four labels. The posssible answer choice----------------*/
.rect3{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

}

.rectangle3{
    min-height: 5vh;
    width: 30%;
    background-color: rgba(59, 143, 156, 0.7);
    padding: 20px;
    font-size: 13px; 
    border-radius: 3%;
    padding: 2%;
    width: 200px;
    height: 60px;
}

/*This is the forth and final on four labels. The posssible answer choice----------------*/
.rect4{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

}

.rectangle4{
    min-height: 5vh;
    width: 30%;
    background-color: rgba(59, 143, 156, 0.7);
    padding: 20px;
    font-size: 13px; 
    border-radius: 3%;
    padding: 2%;
    width: 200px;
    height: 60px;
}



.text2{

    align-items: center;
    justify-items: center;

}


/*section 3*/


#section3{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    background-color: rgb(69, 9, 9);
    padding-top: 20px;
    
}



.window3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 183, 203);
    padding: 2%;
    width: 100px;
    height: 30px;

}

.text3{
    color: azure;
}


/*section 4*/


#section4{

    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
    background-color: rgb(22, 12, 63);
}



.window4{
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 183, 203);

}

.text4{
    color: azure;
}


